@model ViviStreamWebsite.Models.CustomCommands

@{
    ViewData["Title"] = "Create";
}

<h3>Create a new Command</h3>

<hr />
<div class="row">
    <form asp-action="Create" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row form-group">
            <label class="col-lg-2 control-label" asp-for="Command"></label>
            <div class="col-lg-8">
                <input asp-for="Command" class="form-control" placeholder="!youtube" />
                <span class="help-block">This is your command name. It must be prefixed with an exclamation mark (!).</span>
                <span asp-validation-for="Command" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-lg-2 control-label" asp-for="Message"></label>
            <div class="col-lg-8">
                <textarea asp-for="Message" class="form-control" placeholder="Subscribe to my YouTube channel: https://youtube.com/"></textarea>
                <span id="MessageCount">0</span> characters
                <span class="help-block">This is your command response. You can use command variables to make dynamic responses. NOTE: Try to avoid long messages (A YouTube message is limited to 200 characters maximum). If you are using $(urlfetch) the URL is not affected by this limit.</span>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-lg-2 control-label">User level</label>
            <div class="col-lg-8">
                <select asp-for="Userlevel" class="form-control">
                    <option label="Owner" value="Owner">Owner</option>
                    <option label="Moderator" value="Moderator">Moderator</option>
                    <option label="Friend" value="Friend">Friend</option>
                    <option label="Supporter" value="Subscriber">Supporter</option>
                    <option label="Everyone" value="Everyone" selected="selected">Everyone</option>
                </select>
                <span class="help-block">This is minimum required userlevel to execute the command. Userlevels are listed from highest to lowest.</span>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-lg-2 control-label" asp-for="Cooldown"></label>
            <div class="col-lg-8">
                <input asp-for="Cooldown" type="range" min="5" max="300" value="60" step="5" data-val="true" data-val-required="The Cooldown field is required." />
                <span id="exCooldownLabel"><span id="exCooldownValue">60</span> seconds</span>
                <span class="help-block">This is minimum amount of time before the command can be used after it's used.</span>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-lg-2 control-label" asp-for="Alias"></label>
            <div class="col-lg-8">
                <input asp-for="Alias" class="form-control" placeholder="!songrequest" />
                <span class="help-block">If this command is supposed to call another command, specify the other command here. Note that the input passed to the listed alias is the message. To capture user input, you'd need to place variables in the message (like $(query)).</span>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-lg-2 control-label" asp-for="Description"></label>
            <div class="col-lg-8">
                <textarea asp-for="Description" class="form-control" placeholder="Shows my YouTube channel link. Usage: !youtube"></textarea>
                <span class="help-block">This is your command description.</span>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-lg-2 control-label">Status</label>
            <div class="col-lg-8">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="StatusEnabled" asp-for="IsEnabled" type="radio" value="true" checked />
                    <label class="form-check-label" for="StatusEnabled">Enabled</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="StatusDisabled" asp-for="IsEnabled" type="radio" value="false" />
                    <label class="form-check-label" for="StatusDisabled">Disabled</label>
                </div>
                <span class="help-block">
                    If you want to enable or disable the command.
                </span>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-lg-2 control-label"></label>
            <div class="col-lg-6">
                <input type="submit" value="Create" class="btn btn-primary btn-large" />
                <input type="reset" value="Reset" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/countchars.js"></script>

    <script type="text/javascript">
        $('#Cooldown').on('change', function (event) {
            $('#exCooldownValue').text($(this).val());
        });
    </script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}