@model ViviStreamWebsite.Models.Tags

@{
    ViewData["Title"] = "Delete";
}

<h3>Delete Tag</h3>
<h4>Are you sure you want to delete this?</h4>

<hr />
<div class="row">
    <div class="row form-group">
        <label class="col-lg-2 control-label">Tag</label>
        <div class="col-lg-8">
            <input asp-for="Name" class="form-control" placeholder="thanksgiving" disabled />
            <span class="help-block">This is the tag name.</span>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-lg-2 control-label">Emoji</label>
        <div class="col-lg-8">
            <input asp-for="Emoji" class="form-control" placeholder="🦃" disabled/>
            <span class="help-block">This is the tag emoji.</span>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-lg-2 control-label">Description</label>
        <div class="col-lg-8">
            <textarea asp-for="Description" class="form-control" placeholder="Thanksgiving Day tag" disabled></textarea>
            <span class="help-block">This is the tag description.</span>
        </div>
    </div>
    <div class="row form-group">
        <form asp-action="Delete" asp-route-pk="@(Model.PartitionKey)" asp-route-rk="@(Model.RowKey)">
            <label class="col-lg-2 control-label"></label>
            <div class="col-lg-6">
                <input type="submit" value="Delete" class="btn btn-primary btn-large" /> |
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/countchars.js"></script>
}