@model ViviStreamWebsite.Models.NewSong

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit song</h2>

<hr />
<div class="row">
    <form asp-action="GetSongInfo" method="post" asp-route-pk="@(Model.PartitionKey)" asp-route-rk="@(Model.RowKey)">
        <div class="row form-group">
            <label class="col-lg-2 control-label">YouTube link</label>
            <div class="col-lg-5">
                <input asp-for="YTLink" class="form-control" placeholder="https://youtu.be/2Jmty_NiaXc" />
                <span class="help-block">This is the YouTube link where we can find the song.</span>
            </div>
            <div class="col-lg-3 text-left">
                <input type="submit" value="Search" class="btn btn-primary btn-large" />
            </div>
        </div>
    </form>
    <form asp-action="Edit" method="post" asp-route-pk="@(Model.PartitionKey)" asp-route-rk="@(Model.RowKey)">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row form-group">
            <label class="col-lg-2 control-label">Title</label>
            <div class="col-lg-6">
                <input asp-for="OriginalTitle" class="form-control" placeholder="Pokemon Red, Yellow, Blue Battle Music- Trainer" />
                <span class="help-block">This is the song title.</span>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-lg-2 control-label">Game</label>
            <div class="col-lg-6">
                <input asp-for="OriginalGame" class="form-control" placeholder="Pokémon Red/Blue/Green/Yellow" />
                <span class="help-block">This is the name of the video game this song is included in.</span>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-lg-2 control-label">Channel</label>
            <div class="col-lg-6">
                <input asp-for="Channel" class="form-control" placeholder="pokemasterCrystal" readonly />
                <span class="help-block">This is the name of the YouTube Channel which uploaded the song.</span>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-lg-2 control-label">YouTube link</label>
            <div class="col-lg-6">
                <input asp-for="YouTubeLink" class="form-control" placeholder="https://youtu.be/2Jmty_NiaXc" readonly />
                <span class="help-block">This is the standard YouTube link.</span>
                <span asp-validation-for="YouTubeLink" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-lg-2 control-label" asp-for="Duration"></label>
            <div class="col-lg-2">
                <input asp-for="Duration" class="form-control" placeholder="04:09" />
                <span class="help-block">This is the song length.</span>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-lg-2 control-label"></label>
            <div class="col-lg-6">
                <input type="submit" value="Save" class="btn btn-primary btn-large" />
                <input type="reset" value="Reset" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script type="text/javascript">
        $('#Cooldown').on('change', function (event) {
            $('#exCooldownValue').text($(this).val());
        });
    </script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}